* {

    ul,
    ol,
    li,
    menu {
        list-style: none;
    }
}

.navbar {
    img {
        max-width: 12%;
    }
}

.jumbotron {
    height: 380px;
    // background-image: url("../../images/jumbotron.jpg");
    background-size: cover;

}